.genres--home {
  height: 400px;
  max-height: auto;
}

.btn--home {
  color: #FFFFFF;
  background-color: #5626b6;
}

.btn--home:hover {
  color: #FFFFFF;
  background-color: #653cb6;
}

@media only screen and (max-width: 400px) {

  .genres--home {
    height: auto;
  }

}
