.genre {
  width: 100%;
  min-height: 100vh;
  max-height: auto;
}

.header--genre {
  width: 100%;
  height: 70px;
}

.arrow_at_home--genre {
  width: 40px;
  height: 40px;
}

.icon_arrow--genre {
  color: #FFFFFF;
}

.title--genre {
  width: auto;
  height: auto;
}

.disable_icon--genre {
  width: 40px;
}

.movies--genre {
  width: 100%;
  height: auto;
  min-height: 100vh;
}

/* .genre {
  min-height: 100vh;
}

.header--genre {
  height: 70px;
}

.disable_icon--genre {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title--genre {
  display: flex;
  align-items: center;
} */
