* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  min-width: 280px;
  max-width: 1500px;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d3d0d0;
}

a {
  text-decoration: none;
  height: auto;
}

.title--app {
  color: #5626b6;
}

.arrow_at_home {
  width: 40px;
  height: 40px;
}

.icon_arrow {
  color: #FFFFFF;
}

.disable_icon {
  width: 40px;
  height: 40px;
  margin: 0px 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
